body{
    background-color: #1f2937;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.upper{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.lower{
    font-size: 18px;
    color: #e5e7eb;
}

.text_cont{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.placeholder{
    width: 250px;
}

.logo{
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    align-items: center;
}

.links{
    display: flex;
    list-style-type: none;
    gap: 16px;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
}
